<!--INÍCIO DO MENU -->
<div>

  <div class="card mb-2 style=" style="height: 150px;">

    <div class="row no-gutters">
      <div class="col-md-1">
        <span><img class="card-img" src="assets/img/foods/cupcake.png"></span>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <p class="card-title">Croissant</p>
            <p class="card-text">Recheado com queijo e presunto</p>
            <p class="card-text">R$ 10,00</p>
          </div>
        </div>
        <div class="Adicionar col-md-1"><i class="fa fa-plus-circle"></i> <span>Adicionar</span></div>
      </div>
      <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->


  <div class="menu-item-info-box">
      <span class="menu-item-info-box-icon"><img src="assets/img/foods/croissant.png"></span>

      <div class="menu-item-info-box-content">
        <span class="menu-item-info-box-text">Croissant</span>
        <span class="menu-item-info-box-detail">Recheado com queijo e presunto</span>
        <span class="menu-item-info-box-price">R$ 10,00</span>
        <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
      </div>
      <!-- /.info-box-content -->
    </div>
  <!-- /.info-box -->

</div>
<div class="col-md-3 col-xs-12">
 <app-shopping-cart></app-shopping-cart>
</div>
<!-- FIM DO MENU -->
