<div class="">

  <!-- Início do header -->

    <nav>
      <img src="../assets/ifood-43.svg" alt="logo" class="logo">
      <ul class="nav__links">
        <li><a href="#">Ifood</a></li>
        <li><a href="#">Restautantes</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </nav>
  
  <!-- Fim do header -->

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      {{content}}

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Meat</strong> Angular Application
    </div>
  </footer>
</div>
