span .card-img{
  margin-top: 20px;
  width: 100px;
  padding-right: 20px;

}

.Adicionar{
  display: flex;
  align-items: center;

}

.Adicionar span{
  border: 2px solid green;
  padding: 10px;
  border-radius: 10px;

  color: green;

  font-weight: 400;


}
.Adicionar span:hover{

  color: white;
  background-color: green;
  transition: .5s;

}


.card{
box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.336);
}
