 <!-- INICIO DO CONTEUDO -->
 <div class="row">

   <div class="col-xs-12 col-sm-6" *ngFor="let review of reviews | async">
    <div class="card box-solid">
      <div class="box-header with-border">
        <h5 class="review-score pull-right"><fa-icon [icon]="faStar"></fa-icon>{{review.rating}}</h5>
        <div class="user-block">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="username">{{review.name}}</span>
          <span class="description">{{review.date | date:'d/M/Y'}}</span>
        </div>
      </div>
      <div class="box-body">
        <p>{{review.comments}}</p>
      </div>
    </div>

   </div>
 </div>
